
#negrita {
    font-weight: bold;
}

div.view {
    height: 100vh;
    /*display: none;*/
}

.wrapperImage {
    height: 100px;
    margin: 10px;
}

.gallery_images {
    max-width: 200px;
    max-height: 100px;
    margin: 1% 2% 1% 2%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#image-metadata {
    position: relative;
}

#closeView {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.wrapperComments {

}

.big_image {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-height: 80vh;
    margin-bottom: 1em;
    max-width: 90vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.footer-button-right {
        position: absolute;
        margin: 0;
        top: auto;
        bottom: 0.24em;
}

.footer-button-left {
        left: 0.4em;
    float: left;
}

.footer-button-right {
        right: 0.4em;
    float: right;
}

#navselect {
    display: none;
}

.comment-list {
    display: block;
    margin-top: 10px;
    border-bottom: 1px #BBB solid;
}

.comment-list:last-of-type {
    border-bottom: none;
}

.comment-list .metadata {
    font-weight: bold;
}

.comment-list .metadata .date {
    font-size: 70%;
}

.comment-list .comment-body {
    margin: 10px 0;
    line-height: 1.75em;
}

@media only screen and (max-width: 699px) {
    #navselect {
        display: block !important;
        padding: 0 10px;
    }

    #navselect h2 {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #navselect h2 a {
        display: block;
        position: relative;
        width: auto;
    }

    #navselect div {
        padding: 0;
        margin: 0;
    }

    #navselect li {
        display: block;
        width: 100%;
        list-style-type: none;
    }

    #navselect li a {
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
    }

    #navmenu {
        display: none;
    }
}